$primary: #3210f0;
$secondary: #0F054A;
$gray-900: #161926;
$gray-800: #25293D;
$red: #c40303;
// $secondary: #061C56;
// $primary: #664EEF;


@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables.scss';


$font-family-sans-serif:   'lato', sans-serif;
$body-bg: #fafafa;
// $body-dark: #040e27;

$carousel-control-opacity:           .2;
$carousel-indicator-height:          10px;
$carousel-indicator-width:           10px;

$breadcrumb-active-color: $white;
$breadcrumb-divider-color: $white;
