/**-----------------------------------------------------------------
				BUTTON STYLES 
----------------------------------------------------------------------
**/
.btn-ban {
	position: relative; 
	display: inline-block; 
	padding: 0.9375rem 4.375rem 0.9375rem 1.25rem; 
	margin: 0; 
	border-width: 0.1rem; 
	border-style: solid; 
	border-radius: 9.375rem; 
	cursor: pointer; 
	outline: none; 
	-webkit-backface-visibility: hidden; 
	vertical-align: middle; 
	-webkit-transition: all .5s ease; 
	transition: all .5s ease; 
	white-space: normal; 
	text-decoration: none; 
	// text-align: left; 
	font-size: 1em; 
	line-height: 1.375rem; 
	font-weight: 700; 
	width: auto; 
	height: auto;


	a {
		background-color: $color-white;
		color: $primary;

		&:hover {
			text-decoration: none;
			color: $color-white;
		}
		
	}

	

	span {
		background-color: rgba($primary, 0.5);
		width: 2.5rem; 
		height: 2.5rem; 
		display: inline-block; 
		position: absolute; 
		right: 5px; 
		top: 50%; 
		-webkit-transform: translateY(-50%); 
		transform: translateY(-50%); 
		border-radius: 50%; 
		font-size: inherit; 
		text-align: center;


		i {
			display: inline-block; 
			font-size: 1rem; 
			line-height: 2.5rem; 
			color: $color-white;

			&:hover {
				-webkit-animation: toRightFromLeft 0.3s forwards; 
				-moz-animation: toRightFromLeft 0.3s forwards; 
				animation: toRightFromLeft 0.3s forwards;
				color: $white;
				
			
			}

		}
		
	
	}
	
	&:hover {
		color: $color-white;
		text-decoration: none;
		background-color: rgba($primary, 0.5);
		-webkit-transition: all .5s ease; 
		transition: all .5s ease; 
	}

	&:active {
		color: $color-white;
		transform: translateX(-1px);
		
	}	

}


// START THE BTN TEXT  

.btn-round {
	position: relative; 
	display: inline-block; 
	padding: 0.975rem 2.175rem; 
	margin: 0; 
	border-width: 0.1rem; 
	border-style: solid; 
	border-radius: 9.375rem; 
	cursor: pointer; 
	outline: none; 
	-webkit-backface-visibility: hidden; 
	vertical-align: middle; 
	-webkit-transition: all .5s ease; 
	transition: all .5s ease; 
	white-space: normal; 
	text-decoration: none; 
	font-size: 1em; 
	line-height: 1.375rem; 
	font-weight: 700; 
	width: auto; 
	height: auto;

	a {


		&:hover {
		background-color: $secondary;
	   }

	}
	
}
