.social-icons {
	font-size: 2rem;
    padding: 0 0.5rem;
  }
.get-in-touch-icons {
	font-size: 2rem;
	padding: 0 0.5rem;
	color: $color-white;
	
	@include respond (phone-small) {
		font-size: 0.1rem;
		padding: 0.1rem;
		display: inline;
	}

	@include respond (phone) {
		font-size: 0.8rem;
	}

	@include respond (tab-portrait) {
		font-size: 2rem;
	}
	
	a {
		color: $color-white;
	}

}

.fa-github {
    
	&:hover {
		color: $color-dark;
	}
}
.fa-youtube {
	
	&:hover {
		color: $color-red;
	}
}
.fa-youtube-square {
	
	&:hover {
		color: $color-red;
	}
}
.fa-sass {
	
	&:hover {
		color: $sass-color;
	}
}
.fa-node {
	
	&:hover {
		color: $node-color;
	}
}
.fa-bootstrap {
	
	&:hover {
		color: $bootstrap-color;
	}
}
.fa-laravel {
	
	&:hover {
		color: $color-red;
	}
}
.fa-html5 {
	
	&:hover {
		color: $html5-color;
	}
}
.fa-js {
	
	&:hover {
		color: $js-color;
	}
}
.fa-adobe {
	
	&:hover {
		color: $color-red;
	}
}
.fa-php {
	
	&:hover {
		color: $php-color;
	}
}
.fa-magento {
	
	&:hover {
		color: $magento-color;
	}
}

