/**
------------------------------------------------------------------------
              CARD STYLES 
-------------------------------------------------------------------------
**/

.pricing {
    @include transition(.3s);
    width: 100%;
    
    .price-icon {
        @include iconcircle;
        @include transition(.3s);
        
        i {
            font-size: 2.5rem;
            color: $white;
        }
        
    }

    &:hover {
        background-color: $primary !important;
        
        .price-icon {
            background: $white;
            margin-left: 1.25rem;
            
            span {
                color: $primary;
            }
            
        }
        
        
        .price-body {
            color: $white;
        }
        
    }

}

.intro {
    @include iconcircle;
        

    span {
        font-size: 2.5rem;
        color: $white;
        @include absolutecenter;
    

        i {
        font-size: 2rem
        

        }

    }

}
    

    

