@use '../custom' as *;
@use '../components/mixin' as *;


.footer {
    margin-top: 12rem;
    padding-top: 4rem;
    background-color: $primary;
    
    // align-items: center; 


    .cta {
        background-color: $secondary;
        position: relative;        
        margin-top: -18rem;
        margin-bottom: 2rem;
        border-radius: 0.8rem;
        color: $white;
        text-align: center;
        padding: 2.8rem 1rem; 
        align-items: center;

        
        @media screen and (min-width: 768px) {
            margin-top: -12rem;
        }

        
        .info {
            color: $white;
            font-weight: 500;  
            display: block;
            padding-bottom: 1.2rem;

            @media screen and (min-width: 992px) {
                padding-bottom: 0;
            }
          
    
        }

    }


 
    .pulse {
        opacity: 1;
        background-color: $primary;
        display: inline-block;
        vertical-align: middle;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        margin-right: 0.6rem;
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        transform: scale(1.5);
        box-shadow: rgba($primary, .9);
        animation: pulse-footer 2s infinite;
        -webkit-animation: pulse-footer 2s infinite;

    }
   
    .tagline {
        margin-top: 2rem;
        text-align: center;
        font-weight: 500;
        color: $white;

    }

    // STYLE THE CONTACT-BOX CONTENT 
    .contact {
        position: relative;

        &__info {
            padding: 1rem 0;      

            :is(h4, h5) {
                font-size: 1rem;

                @media (min-width: 992px) {
                    font-size: 1.5rem;
                }
            }           
            
            .title {
                color: $white;
                text-decoration: none;    
                                   
            }
            
            .subtitle {
                color: $gray-300;
                text-decoration: none;
                text-transform: capitalize;
            }

        }
              
        
    }

    
    

    .socials {
        position: relative;
        padding-top: 3rem;
        padding-bottom: 2rem;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 0.6rem;
        
        
        .social-wrap {
            position: relative;
            display: grid;
            grid-template-columns: repeat( auto-fit, minmax(4rem, 30%));

            @media (min-width: 992px) {
                display: grid;
                grid-template-columns: repeat( auto-fit, minmax(6.25rem, 10%) );
                justify-content: center;  
            }        
                  
            .item {
                padding: 0.5rem;
                text-align: center; 
                
                
                a {
                    color: $white;
                    
    
                    &:hover {
                        // @include roundedCircle;
                        color: $secondary;
                        text-decoration: none;
                        font-weight: 600;
                        border-bottom: 3px solid lighten($primary, 10%);
                    
                    }

                }

                .sm-icon {
                    font-size: 1.2rem;                   

                }
                
                p {
                    padding: 0 0.5rem;
                    text-transform: capitalize;
                    
                }
                
    
            }

        }
        
        
    }


    &__copyright {
        padding-bottom: 4rem;
        padding-top: 1rem;
        margin: 3rem 0;
        text-align: center;
        color: $white;
        font-weight: 400;
        // font-size: 0.8rem;
        

        a {
            color: $gray-300;
            text-decoration: none;

            &:hover {
                color: $primary;
                text-decoration: underline;
             
            }
            
        }

    }

    .legal-stuff {
        bottom: 0;
        align-items: center;

        a {
            color: $gray-300;
            text-decoration: none;
            margin: 0 1rem;
            
            &:hover {
                color: $secondary;
                border-bottom: 2px solid $secondary
            }
        }
        @media (max-width: 768px) {
            text-align: center;
        } 
        
    }

    .madewithlove {
        color: $white;
        text-decoration: none;

        p {
            text-align: center;
        }

        i {
            color: lighten($red, 10%);
        }
    }


}




// STYLE THE BACK TO TOP BUTTON 
.back-to-top {
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: 1.875rem;
    bottom: 5rem;
    z-index: 9999;
    background-color: $primary;

    i {
        color: $white;
        @include absoluteCenter;
    }
   
}
