/*---------------------------------------
   2.1 GENERAL STYLES                
-----------------------------------------*/
*,
*::after,
*::before {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html {
   font-size: 100%;
   // box-sizing: content-box;
   
}


