/* 
=========================================
Theme Name - Fitness Shot
Description:  a fitness and gym website template.
Version: 1.0.22 (Initial Release)
Author: Patrick Muriungi
Theme URI: https://vaxacode.netlify.app
Author URI: https://vaxacode.netlify/fitness-shot
=========================================
/*

1. Custom Theme Colors
2. Base 
3. Typography
4

 
 FONTAWESOME 5
20. Solid
21. Brands
22. Regular
	
*/

