@use '../custom' as *;
@use '../abstract/mixins' as *;

.footer {
  // padding-top: 0.5rem;
  background-color: $dark;
  color: $white; 


  // START CONTACT BOX WITH ICONS STYLES
.contact {
  position: relative;
  align-items: center;
  text-decoration: none;
  margin-bottom: 1rem;
  
  
  .info {
      padding: 0.4rem;
      align-items: center;

      .title {
          font-family: 'Oxygen', sans-serif; 
          font-weight: 600;
          color: $white;
          text-decoration: none;
          
      }
        
      .sub-title {
          color: $gray-500;
          text-transform: capitalize;
          font-weight: 500;
          
      }  

  }

  .icons {
      padding-top: 0.3rem;

      .whatsapp {
        font-size: 2.5rem;
        i {
          color: $green;
        }
      }
      .email {
        font-size: 2.5rem;
        i {
          color: $white;
        }
      }
      .map {
        font-size: 2.5rem;
        i {
          color: $secondary;
        }
      }
    }   
  
}

.footer-center {
  padding: 1rem;


   a {
      color: $white;
      text-decoration: none;
      
    &:hover {
      color: $primary;
    }

    
  }


}

.footer-sm {

  a {
    color: $primary;

     i {
        font-size: 1.8rem;
        padding-left: 1rem;

        &:hover {
          color: $secondary;
        }

      }

  } 
  
}


     
}

.f-list {
      display: block;
      list-style-type: none;
      position: relative;

        & > li {       
          color: $white;
          margin-bottom: 0.5rem;
                           

        a {
          color: $gray-700;
          transition: all .3s ease;  

          &:hover {
            padding-bottom: 4rem;
            color: $primary;
            transform: skewY(10deg) skewX(5deg) scale(1.1);
            transition:all .3s;
            
        }

      }     
                      
  }            

} 


/// START BOTTOM FOOTER SECTION 
  .footer-bottom {
    background-color: $dark;
    // padding: 3rem 0;

    &__copyright {
      font-size: 1rem;
      color: $gray-300;
      
       a {
        color: $primary;
        transition: all .3s ease;  
        text-decoration: none;

        &:hover {
          color: $primary;
          text-decoration: underline;
          
        }

      }  

    }

  }





// STYLE THE BACK TO TOP BUTTON 
.back-to-top {
  position: fixed;
  width: 3rem;
  height: 3rem;
  right: 1.875rem;
  bottom: 5rem;
  z-index: 9999;
  background-color: $primary;

  i {
      color: $white;
      @include absoluteCenter;
  }
 
}