/**--------------------------------------------------------------------
                          Home Styles
----------------------------------------------------------------------
**/
// WHAT-WE-DO STYLES 

.what-we-do {
    background: $white;
    // margin-top: 10rem;
       
}



.we-do {
    margin: 2.5rem 0;
    overflow: hidden;
    text-align: center;
    padding: 1.2rem;
    // border: 1px solid rgba($color-grey, .1);

    
    
    &__icon {
        text-align: center;
        font-size: 2.4rem;
        margin: 0 auto 1.5rem;
        color: rgba($gray-700, 0.9);
        transition: .4s;

        &:hover {
            color: $white;
            visibility: visible;
        
        }

    }

    &:hover {
        background-color: $primary;
        // filter: brightness(1);
        color: $white;
        // cursor: pointer;
    }



}

/**
// //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                      START SERVICES 
// ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
**/

.services {
	@include transition(.3s);
	width: 100%;
	padding: 1rem;
    margin-bottom: 3.75rem;
    background: $white !important;
    
	.icon {
        @include iconcircle;
        @include transition(.3s);
        
		span {
			font-size: 2rem;
			color: $white;
        }
        
	}
	.service-body {
        // background: $white;

		h3 {
			font-size: 1.125rem;
			font-weight: 500;
        }
        
	}
	&:hover {
        background: $primary !important;
        color: $white !important;
        
		.icon {
			background: $white;
            margin-left: 1.25rem;
            
			span {
				color: $primary;
            }
            
        }
        
		h3 {
			color: $white;
        }
        
		.service-body {
			color: $color-ddd;
        }
        
    }
    
}






.border-right {
    border-right: 0.1rem solid $color-ddd;
    height: 100%;
}

.campanies {
    padding: 0 0 5rem 0;
    


    &__campany-img {
        max-width: 100%;
        padding: 0.5rem;
        height: 3rem;
        margin-bottom: 2rem;
        position: relative;
        

        img {      
            // filter: grayscale(200%);
            text-align: center;
            height: 100%;

            &:hover {
                filter: grayscale(0);
            }
            
        }

    }

}
