@use '../custom' as *;
@use '../abstract/mixins' as *;

/**--------------------------------------------------------
                 VIDEO SECTION STYLES
--------------------------------------------------------------
**/




.services-showcase {
	padding: 7.5rem 0;
	background: $white;
}

.showcase-wrapper {
	height: auto;
	overflow: hidden;
    width: 100%;
    
    img {
        padding: 1rem 0;
        object-fit: cover;
        max-width: 100%;
        vertical-align: middle;
        height: 100%;

        &:hover {
            transform: scale(1.05);
            transition: all .3s;
            outline-offset: 1.5rem solid $primary;
        }
    }

    
}

.showcase-about{
    padding: 1rem 0;
    
    // & > p {
    //     letter-spacing: 0.05em;
    //     line-height: 1.875rem;
    // }

}

.showcase-icon {
        font-size: 3rem; 
        color: $primary;  
        padding-left: 0.8rem;
}
.services {
    background-color: $gray-700;
    padding: 8rem 0;
}