@use '../custom' as *;
@use '../components/mixin' as *;

.post-content {
    position: relative;
    padding: 5rem;
    background-color: $primary;
    height: 100%;
    margin-bottom: 5rem;
}

.post-ntop {
    position: relative;
    height: 100%;
    margin-top: -12rem;
    margin-bottom: 15rem;

    .post {
        background-color: $white;
        @include box-shadow;
        // @include border-radius;
        // @include borderRound;

        .post-meta {
            padding: 1rem 1.5rem;

            :is(h2, h3, h4) {
                margin-bottom: 1rem;
                @include borderBottom;
                padding-bottom: 0.5rem;
                text-transform: capitalize;
                font-family: 'poppins', sans-serif;
                line-height: 1.5;
            }
            
            li {
                list-style-type: none;
                margin: 0.3rem;
                @include borderBottom;

                i {
                    color: $primary;
                }
            }

        }

        .content {
            text-decoration: none;
            // padding: 3rem 1.5rem;
            
    
            img {
                width: 100%;
                object-fit: cover;
                // min-height: 18rem;
                padding-bottom: 3rem;
            }
            .social {

                i {
                    font-size: 1.5rem;
                    margin-right: 1rem;
                }
           }
    

         
            :is(h5, h6) {
                margin-bottom: 1rem;
                @include borderBottom;
                padding-bottom: 0.5rem;
                text-transform: capitalize;
                font-family: 'poppins', sans-serif;
                // width: 30%;
            }

            p {
                margin-bottom: 2rem;
            }
        }

        .sidebar {
            text-decoration: none;
            padding: 3rem 1rem;

        }
    }



    
}