@use '../custom' as *;
@use '../components/mixin' as *;


.downloads {
    width: 100%;
    overflow: hidden;
    
    span {
        position: absolute;
        overflow: hidden;
        
    }


    .card-footer {

        i {
            color: $primary;
            
        }
    }

    &:hover {

        img {
            transform: scale(1.05);
            transition: all .3s;
        }
        .blog-info {
            // background-color: rgba($primary, 0.75);
            transition: all .3s;
        }
    }
}