@use '../custom' as *;
@use '../components/mixin' as *;


.project-section {
    position: relative;
    height: 100%;
    margin-top: 3rem;
    margin-bottom: 2rem;
    background-color: $white;
    @include paddingTop;

    

    
}


.project-item {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 1.2rem;
    
    img {
        width: 100%;
        object-fit: cover;
        height: 16rem;

        @media (min-width: 992px) {
            height: 24rem;
        }

    }

    .project-info {
        background-color: rgba($primary, 0.75);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;

        .caption {
            text-align: center;
            color: $white;
            @include absoluteCenter;

            h5 {
                text-transform: uppercase;
                display: block;
            }
        }
    }
    &:hover {

        img {
            transform: scale(1.1);
            transition: all .3s;
        }
        .project-info {
            opacity: 1;
            visibility: visible;
            transition: all .3s;
        }
    }
}