@use '../custom' as *;
@use '../components/mixin' as *;


.testimonials {
    @include paddingTop;
    position: relative;
    background-color: $white;
    // background-image: linear-gradient(to right bottom, rgba($primary, 0.9), rgba($primary, 0.8)), url('/public/images/Crescent-Island-Naivasha.jpg');
    height: 100%;
    background-size: cover;
    background-position: fixed;


    img {
        text-align: center;
    }

}

.carousel-item {
    padding-top: 2rem;

    .ratings {

        i {
            color: $yellow;
        }
    }

    h4 {
        color: $primary;
    }
}